<form (ngSubmit)="updateWidget()" #f="ngForm">
    <div class="col-sm-4 hidden-xs vertical-line">
      <app-widget-chooser></app-widget-chooser>

    </div>
    <div class="col-sm-8">
      <div [ngSwitch]="widtype">

        <div *ngSwitchCase="'HEADING'">
          <app-widget-header></app-widget-header>
        </div>

        <div *ngSwitchCase="'IMAGE'">
          <app-widget-image></app-widget-image>
        </div>

        <div *ngSwitchCase="'YOUTUBE'">
          <app-widget-youtube></app-widget-youtube>
        </div>

      </div>
      <!--<div *ngIf=widgetExists>-->
      <!--<button class="btn btn-danger btn-block "-->
              <!--(click)='deleteWidget()'>Delete-->
      <!--</button>-->
      <!--</div>-->
    </div>
</form>


<nav class="navbar navbar-fixed-bottom bg-primary btnStyle">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-user">
              </span>
      </a>
    </p>
  </div>
</nav>
