
<div *ngIf="isAdmin">
  <div class="container-fluid">
    <a [routerLink]="['/manageUsers']" class="btn btn-block btn-danger">
      Manage Users
    </a>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <ul class="list-group">
        <li class="list-group-item active btnStyle">
          <div class="row">
            <div class="container-fluid">
              Followed By
            </div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let followedByUser of followedBy">
          <div class="row">
            <div class="container-fluid">
              {{followedByUser}}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-lg-2">
      <ul class="list-group">
        <li class="list-group-item active btnStyle">
          <div class="row">
            <div class="container-fluid">
              Users you Follow
            </div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let followingUser of usersFollowing">
          {{followingUser.username}}
          <div class="row">
            <div class="container-fluid">
              {{followingUser}}
              <button type="button" class="pull-right" (click)="unFollow(followingUser)">
                UnFollow
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-lg-2">
      <ul class="list-group">
        <li class="list-group-item active btnStyle">
          <div class="row">
            <div class="container-fluid">
              <div> Other Users</div>
            </div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let otherUser of otherUsers">
          <div class="row">
            <div class="container-fluid">
              {{otherUser.username}}
              <button type="button" class="pull-right" (click)="addToFollow(otherUser._id)">
                Follow
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-lg-5">
      <ul class="list-group">
        <li class="list-group-item active btnStyle">
          <div class="row">
            <!--<div class="col-lg-2">-->
            <div class="container-fluid">
              Interested Events
            </div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let interestedEvent of eventsInterestedIn">
          <div class="row">
            <!--<div class="col-lg-3">-->
            <!--<a [routerLink]="['/user']"-->
            <div class="container-fluid">
              {{interestedEvent.eventName}}
              <button type="button" class="pull-right" (click)="removeFromWishList(interestedEvent._id)">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <a [routerLink]="['/user', regUserId, 'events']" class="btn btn-block btn-primary btnStyle">
    Search Events
  </a>
  <a [routerLink]="['/login']" class="btn btn-block btn-danger">
    Logout
  </a>
</div>
