<div class="container-fluid">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Login</h1>

  <input   placeholder="username"
           name="username"
           type="text"
           class="form-control"
           required
           [(ngModel)]="username"/>

  <input   placeholder="password"
           name="password"
           type="password"
           class="form-control"
           [(ngModel)]="password"
           required/>

  <button class="btn btn-primary btn-block btnStyle" (click)="login(username, password)"
          type="submit">Login</button>
  <button class="btn btn-success btn-block" [routerLink]="['/register']"
          type="submit">Register</button>

</div>
