<div class="container-fluid">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>
  <h1> Login </h1>
  <form (ngSubmit)="login()" #f="ngForm">
    <input placeholder="username"
           name="username"
           type="text"
           id="username"
           class="form-control"
           ngModel
           required
           #username="ngModel"
           autocomplete="off"
           autocapitalize="off"
    />
    <!--autofocus="on"-->
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>
    <input placeholder="password"
           name="password"
           type="password"
           id="password"
           class="form-control"
           ngModel
           required
           #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
    </span>
    <button class="btn btn-block bg-primary btnStyle"
            type="submit"
            [disabled]="!f.valid">Login
    </button>

    <button class="btn btn-block btn-success"
            type="button"
            [routerLink]="['/register']">Register
    </button>
    <a href="/api/facebook/login" class="btn btn-primary btn-block">
      <span class="fa fa-facebook"></span>
      Facebook
    </a>


  </form>
</div>
