<nav class="navbar navbar-fixed-top bg-primary">
  <div class="container-fluid">
    <div class="navbar-header header-width header-fix">
      <p class="navbar-text pull-left p-fix">
        <a [routerLink]="['/user/:uid/website']" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-chevron-left">
              </span>
        </a>
      </p>

      <span class="navbar-brand">Edit Website</span>
      <p class="navbar-text pull-right p-right-fix">
        <a [routerLink]="['/user/:uid/website']" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-ok">
              </span>
        </a>
      </p>
    </div>

  </div>

</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 visible-lg">
      <ul class="list-group">
        <li class="list-group-item active">
          <div class="row">
            <div class="col-lg-9  visible-lg">
              Websites
            </div>

            <div class="col-xs-3">
              <a [routerLink]="['/user/:uid/website/new']" class="glyphicon-color pull-right">
              <span class="glyphicon glyphicon-plus">
              </span>
              </a>
            </div>

          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-9  visible-lg">
              <a [routerLink]="['/user/:uid/website/:wid/page']">
                Twitter
              </a>
            </div>

            <div class="col-xs-3">
              <a [routerLink]="['/user/:uid/website/:wid']" >
              <span class="glyphicon glyphicon-cog pull-right">
              </span>
              </a>
            </div>

          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-9  visible-lg">
              <a [routerLink]="['/user/:uid/website/:wid/page']">
                Google
              </a>
            </div>

            <div class="col-xs-3">
              <a [routerLink]="['/user/:uid/website/:wid']">
              <span class="glyphicon glyphicon-cog pull-right">
              </span>
              </a>
            </div>

          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-9  visible-lg">
              <a [routerLink]="['/user/:uid/website/:wid/page']">
                LinkedIn
              </a>
            </div>

            <div class="col-xs-3">
              <a [routerLink]="['/user/:uid/website/:wid']" >
              <span class="glyphicon glyphicon-cog pull-right">
              </span>
              </a>
            </div>

          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-9  visible-lg">
              <a [routerLink]="['/user/:uid/website/:wid/page']">
                Facebook
              </a>
            </div>

            <div class="col-xs-3">
              <a [routerLink]="['/user/:uid/website/:wid']">
              <span class="glyphicon glyphicon-cog pull-right">
              </span>
              </a>
            </div>

          </div>
        </li>

      </ul>
    </div>

    <div class="col-xs-12 col-lg-9">
      <label for="name">Name</label>
      <input type="text"
             id="name"
             name="website-name"
             class="form-control"
             value="Twitter">

      <label for="description">Description</label>
      <textarea
        id="description"
        name="email"
        class="form-control"
        rows="5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </textarea>
      <a [routerLink]="['/user/:uid/website']" class="btn btn-danger btn-block ">
        Delete
      </a>
    </div>
  </div>

</div>

<nav class="navbar navbar-fixed-bottom bg-primary">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user/:uid']" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-user">
              </span>
      </a>
    </p>
  </div>
</nav>
