<!--Header-Start-->
<div class="container-fluid">
  <div class="pull-left">
    <a [routerLink]="['/about']">
      <span class="label">
        Event Planet
      </span>
    </a>
  </div>
  <div class="pull-right">
    <a [routerLink]="['/login']">
      <span class="glyphicon glyphicon-log-in">
      </span>
    </a>
    <a [routerLink]="['/register']">
      <span class="glyphicon glyphicon-registration-mark">
      </span>
    </a>
  </div>
</div>
<!--Header-End-->

<!--Body-Start-->
<!--Search Input and button-->
<div class="container-fluid">
  <div class="container-fluid">
    <h4>Description</h4>
    <br/>
    {{eventDetail['description']}}
    <br/>
    <br/>
    <h4>
      Address
    </h4>
    {{eventDetail['address']}}
    <br/>
    <h4>
      Link
    </h4>
    <a href="{{eventDetail['url']}}" target="_blank">{{eventDetail['url']}}</a>
    <br/>
    <br/>
    <h4>
      Start Time
    </h4>
    <br/>
    {{eventDetail['start_time']}}
    <br/>
</div>
</div>
<!--Body Ends Here-->

<!--Footer-->
<div class="navbar navbar-fixed-bottom bg-primary btnStyle">
  <div class="container-fluid pull-right">
    <a [routerLink]="['/profile']" class="navbar-link glyphicon-color">
      <span class="glyphicon glyphicon-user">
      </span>
    </a>
  </div>
</div>
