<!--Header-Start-->
<nav class="navbar navbar-fixed-top bg-primary btnStyle">
  <div class="container-fluid">

    <div class="navbar-header header-width header-fix">
      <p class="navbar-text pull-left p-fix">
        <a (click)="searchForEvents(searchTerm)" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-chevron-left">
              </span>
        </a>
      </p>
      <span class="navbar-brand glyphicon-color">{{eventName}}</span>

      <p class="navbar-text pull-right p-right-fix glyphicon-color">
        <a [routerLink]="['/login']">
      <span class="glyphicon glyphicon-log-in glyphicon-color">
      </span>
        </a>
        <a [routerLink]="['/register']">
      <span class="glyphicon glyphicon-registration-mark glyphicon-color">
      </span>
        </a>
        <a [routerLink]="['/about']" class="glyphicon-color">
          Event Planet
        </a>
      </p>
    </div>
  </div>
</nav>
<!--Header-End-->

<!--Body-Start-->
<!--Search Input and button-->
<div class="container-fluid">
  <div *ngIf="eventDetailsExist">
    <div class="container-fluid">
      <div *ngIf="eventDetail['description']">
        <h3>Description</h3>
        {{eventDetail['description']}}
        <br/><br/>
      </div>
      <div *ngIf="!eventDetail['description']">
        <h3>Description</h3>
        Description yet to come!
        <br/><br/>
      </div>
      <b>Address:</b>&nbsp;&nbsp;
      {{eventDetail['address']}}
      <br/><br/>
      <b>Start Time:</b>&nbsp;&nbsp;
      {{eventDetail['start_time']}}
      <br/><br/>
      <b>Link:</b>&nbsp;&nbsp;
      <a href="{{eventDetail['url']}}" target="_blank">{{eventDetail['url']}}</a>
    </div>
  </div>
</div>


<div *ngIf="commentsExist">
  <div class="row">
    <div class="col-xs-9">
      Comments
    </div>
  </div>
  <li class="list-group-item" *ngFor="let comment of commentsFound">
    <div class="row">
      <div class="col-xs-9">
        {{comment['comment']}}
      </div>
      <div class="col-xs-3">
        {{comment['username']}}
      </div>
    </div>
  </li>
</div>
<div class="container-fluid">
  <div class="btn btn-block"></div>
</div>
<div class="container-fluid">
  <div class="btn btn-block"></div>
</div>
<div class="container-fluid">
  <div *ngIf="!commentsExist && !isLoading"
       class="alert alert-danger container-fluid">
    <i class="glyphicon glyphicon-info-sign glyphicon-color"></i>
    There are no comments for this event!!!
  </div>
  <div *ngIf="isLoading">
    <div>
    Loading details of the event..
    </div>
  </div>
</div>

<!--Body Ends Here-->

<!--Footer-->
<div class="navbar navbar-fixed-bottom bg-primary btnStyle">
  <div class="container-fluid pull-right">
    <a [routerLink]="['/profile']" class="navbar-link glyphicon-color">
      <span class="glyphicon glyphicon-user">
      </span>
    </a>
  </div>
</div>
