<!--Header-Start-->
<nav class="navbar navbar-fixed-top bg-primary btnStyle">
  <div class="container-fluid">

    <div class="navbar-header header-width header-fix">
      <p class="navbar-text pull-left p-fix">
        <a [routerLink]="['/dashboard']" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-chevron-left">
              </span>
        </a>
      </p>
      <span class="navbar-brand glyphicon-color">{{eventId}} {{eventName}}</span>

      <p class="navbar-text pull-right p-right-fix glyphicon-color">
        <a [routerLink]="['/login']">
      <span class="glyphicon glyphicon-log-in glyphicon-color">
      </span>
        </a>
        <a [routerLink]="['/register']">
      <span class="glyphicon glyphicon-registration-mark glyphicon-color">
      </span>
        </a>
        <a [routerLink]="['/about']" class="glyphicon-color">
          Event Planet
        </a>
      </p>
    </div>
  </div>
</nav>
<!--Header-End-->

<!--Body-Start-->
<!--Search Input and button-->
<div class="container-fluid">
  <div *ngIf="eventDetailsExist">
    <div class="container-fluid">
      <div *ngIf="eventDetail['description']">
        <h3>Description</h3>
        {{eventDetail['description']}}
        <br/><br/>
      </div>
      <b>Address:</b>&nbsp;&nbsp;
      {{eventDetail['address']}}
      <br/><br/>
      <b>Start Time</b>&nbsp;&nbsp;
      {{eventDetail['start_time']}}
      <br/><br/>
      <b>Link:</b>&nbsp;&nbsp;
      <a href="{{eventDetail['url']}}" target="_blank">{{eventDetail['url']}}</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="btn btn-block"></div>
  <div class="btn btn-block"></div>
  <div class="container-fluid">

<div *ngIf="commentsExist">
  <div class="row">
    <div class="col-xs-9">
      Comments
    </div>
  </div>
  <li class="list-group-item" *ngFor="let comment of commentsFound">
    <div class="row">

      <div class="col-xs-6" id="{{comment['_id']}}">
        <!--<span id="{{comment['_id']}}">-->
        <!--<div>{{comment['comment']}}</div>-->
        <!--<input value="cmment"-->
               <!--name="editComment"-->
               <!--type="text"-->
               <!--id="editComment"-->
               <!--class="form-control"-->
               <!--ngModel-->
               <!--required-->
               <!--autocomplete="off"-->
               <!--autocapitalize="off"-->
        <!--/>-->
        <input type="text" id="editText" class="editComment" name="FirstName" [value]="comment['comment']">
        <span class="glyphicon glyphicon-edit "  (click)="onEdit(comment['_id'])"></span>&nbsp;

        <button type="button"
                id="saveBtn"
                class="btn btn-default saveButton"
                (click)="saveComment(comment['_id'])">
          Save Comment</button>
        <button type="button"
                id="cancelBtn"
                class="btn btn-default cancelButton"
                (click)="cancelEdit(comment['_id'])">
         Cancel</button>
          <!--</spanan>-->
      </div>

      <div class="col-xs-3">
        {{comment['username']}}
      </div>
      <div *ngIf="comment['username'] === user['username']">
        <div class="col-xs-3">
          <!--<span class="glyphicon glyphicon-edit " (click)="onEdit()"></span>&nbsp;-->
          <span class="glyphicon glyphicon-trash" (click)="deleteComment(comment['_id'])"></span>
        </div>
      </div>
    </div>
  </li>
</div>
<div class="container-fluid">
  <div class="btn btn-block"></div>
</div>
<div class="container-fluid">
  <div class="btn btn-block"></div>
</div>
  </div>
</div>
<div class="container-fluid">
  <div class="container-fluid">
  <div *ngIf="!commentsExist"
       class="alert alert-danger container-fluid">
    <i class="glyphicon glyphicon-info-sign glyphicon-color"></i>
    There are no comments for this event!!!
  </div>
</div>

<div class="container-fluid">
<div *ngIf="!commentsExist">
  Be the first to comment
</div>

<div *ngIf="addingNewComment">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>
  <input placeholder="Enter your comment here"
         name="newComment"
         type="text"
         id="newComment"
         class="form-control"
         ngModel
         required
         [(ngModel)]="newComment"
         autocomplete="off"
         autocapitalize="off"
  />
  <button class="btn-sm" (click)="addCommentToEvent()">
    Save Comment
  </button>
</div>

<div *ngIf="!addingNewComment">
  <button class="btn-sm" (click)="addNewComment()">
    Add Comment
  </button>
</div>
</div>
</div>
<!--Body Ends Here-->

<!--Footer-->
<div class="navbar navbar-fixed-bottom bg-primary btnStyle">
  <div class="container-fluid pull-right">
    <a [routerLink]="['/profile']" class="navbar-link glyphicon-color">
      <span class="glyphicon glyphicon-user">
      </span>
    </a>
  </div>
</div>
