<nav class="navbar navbar-fixed-top btnStyle">
  <div class="container-fluid ">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page']" class="glyphicon-color">
        <span class="glyphicon glyphicon-chevron-left glyphicon-nav glyphicon-color"></span>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a class="navbar-brand glyphicon-color">
        <b>Edit Page</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a (click)="editPage()">
        <span class="glyphicon glyphicon-ok glyphicon-color"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container-fluid">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <div class="padtop">
    <div class="form-group">
      <label class="form-name-secondary" for="name">Name</label>
      <input   placeholder="name"
               id="name"
               name="name"
               type="text"
               class="form-control"
               required
               [(ngModel)]="name"/>
    </div>

    <div class="form-group">
      <label class="form-name-secondary" for="description">Description</label>
      <input   placeholder="description"
               id="description"
               name="description"
               type="text"
               class="form-control"
               required
               [(ngModel)]="description"/>
    </div>
  </div>

  <a class="btn btn-danger btn-block" (click)="deletePage()">Delete</a>


</div>

<nav class="navbar navbar-fixed-bottom bg-primary btnStyle">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-user">
              </span>
      </a>
    </p>
  </div>
</nav>
