<nav class="navbar navbar-fixed-top bg-primary">
  <div class="container-fluid">
    <div class="navbar-header header-width header-fix">
      <p class="navbar-text pull-left p-fix">
        <a [routerLink]="['../website/website-list']" class="navbar-link glyphicon-color">
        <span class="glyphicon glyphicon-chevron-left">
        </span>
        </a>
      </p>

      <span class="navbar-brand">Pages</span>
      <p class="navbar-text pull-right  p-right-fix">
        <a [routerLink]="['/page-new']" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-plus">
              </span>
        </a>
      </p>
    </div>

  </div>
</nav>
