<nav class="navbar navbar-fixed-top btnStyle">
  <div class="container-fluid ">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'website']" class="glyphicon-color">
        <span class="glyphicon glyphicon-chevron-left glyphicon-nav glyphicon-color"></span>
      </a>
    </p>


    <p class="navbar-header pull-left btnStyle">
      <a class="navbar-brand">
        <b style="color: white">Pages</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', 'new']">
        <span class="glyphicon glyphicon-plus glyphicon-color"></span>
      </a>
    </p>
  </div>
</nav>

<div class="main-body-content">

  <div class="container-fluid">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let page of pages">
        <div class="row">
          <div class="col-xs-9 col-sm-11">
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', page['_id'], 'widget']" class="colorBlue">{{page['name']}}</a>
          </div>
          <div class="col-xs-3 col-sm-1 website-list-icon">
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', page['_id']]">
              <span class="glyphicon glyphicon-cog colorBlue"></span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>



<nav class="navbar navbar-fixed-bottom bg-primary btnStyle">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-user">
              </span>
      </a>
    </p>
  </div>
</nav>
