<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../../css/styles.css"/>
  <script src = "../../vendors/bootstrap/dist/js/bootstrap.min.js">
  </script>

  <title>Title</title>
</head>

<body>

<nav class="navbar navbar-fixed-top bg-primary">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a href="page-list.html" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-chevron-left">
              </span>
      </a>
    </p>
    <div class="navbar-header">
      <span class="navbar-brand">New Page</span>
    </div>
    <p class="navbar-text pull-right">
      <a href="page-list.html" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-ok">
              </span>
      </a>
    </p>
  </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 hidden-xs">
      <ul class="list-group">
        <li class="list-group-item active">
          <div class="row">
            <div class="col-lg-9  visible-lg">
              Pages
            </div>

            <div class="col-xs-3">
              <a href="page-new.html" class="glyphicon-color pull-right">
              <span class="glyphicon glyphicon-plus">
              </span>
              </a>
            </div>

          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-9  visible-lg">
              <a href="../widget/widget-list.html">
                Blogs
              </a>
            </div>

            <div class="col-xs-3">
              <a href="page-edit.html" >
              <span class="glyphicon glyphicon-cog pull-right">
              </span>
              </a>
            </div>

          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-9  visible-lg">
              <a href="../widget/widget-list.html">
                Home
              </a>
            </div>

            <div class="col-xs-3">
              <a href="page-edit.html" >
              <span class="glyphicon glyphicon-cog pull-right">
              </span>
              </a>
            </div>

          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-9  visible-lg">
              <a href="../widget/widget-list.html">
                About Us
              </a>
            </div>

            <div class="col-xs-3">
              <a href="page-edit.html" >
              <span class="glyphicon glyphicon-cog pull-right">
              </span>
              </a>
            </div>

          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-9  visible-lg">
              <a href="../widget/widget-list.html">
                Contact
              </a>
            </div>

            <div class="col-xs-3">
              <a href="page-edit.html" >
              <span class="glyphicon glyphicon-cog pull-right">
              </span>
              </a>
            </div>

          </div>
        </li>

      </ul>
    </div>

    <div class="col-md-9 col-xs-12">
      <label for="name">Name</label>
      <input type="text"
             id="name"
             name="page-name"
             class="form-control"
             placeholder="Page Name">

      <label for="title">Title</label>
      <input type="text"
             id="title"
             name="page-title"
             class="form-control"
             placeholder="Page Title">
    </div>
  </div>

</div>

<nav class="navbar navbar-fixed-bottom bg-primary">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html" class="navbar-link glyphicon-color">
              <span class="glyphicon glyphicon-user">
              </span>
      </a>
    </p>
  </div>
  </div>
</nav>
</body>
</html>
