<nav class="navbar navbar-fixed-top">
  <div class="container-fluid  btnStyle">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new']" class="glyphicon-color">
        <span class="glyphicon glyphicon-chevron-left glyphicon-nav glyphicon-color"></span>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a class="navbar-brand glyphicon-color ">
        <b>Widget Edit</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a (click)="addData()">
        <span class="glyphicon glyphicon-ok glyphicon-color"></span>
      </a>
    </p>
  </div>
</nav>

<div class="padtop">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <div class="form-group">
    <label class="form-name-secondary" for="name">Name</label>
    <input type="text"
           class="form-control"
           id="name"
           placeholder="name"
           [(ngModel)]="widgetType">
  </div>

  <div class="form-group">
    <label class="form-name-secondary" for="text">Text</label>
    <input type="text"
           class="form-control"
           id="text"
           placeholder="text"
           [(ngModel)]="widgetText">
  </div>

  <div class="form-group">
    <label class="form-name-secondary" for="size">Size</label>
    <input type="text"
           class="form-control"
           id="size"
           placeholder="size"
           [(ngModel)]="widgetSize">
  </div>

</div>
