input{
  margin-bottom: 5px;
}

.glyphicon-color{
  color: white;
}

body{
  padding-top: 70px;
  padding-bottom: 70px;
}

.header-width{
  width:100%;
}

input.form-control,
textarea.form-control,
select.form-control {
  margin-bottom: 12px;
}

.wd-widget {
  margin-bottom: 10px;
}

.wd-widget > img {
  width: 100%;
}

.wd-widget .wd-widget-toolbar {
  position: absolute;
  right: 15px;
  background: white;
  opacity: 0.9;
  padding: 5px;
  border-bottom-left-radius: 10px;
}

.toolbar-youtube-position{
  top: 0px;
  right: 0px !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-fix{
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.btnStyle{
  background-color: #049fd9!important;
  border-color: #049fd9!important;
}
.colorBlue{
  color:#049fd9!important;
}
@media only screen and (max-width: 768px) {
  .p-fix{
    margin-left: 15px!important;
  }
  .p-right-fix{
    margin-right: 15px!important;
  }
}

.padtop {
  padding-top: 10px;
}

